#main-navbar{
  background-color: blue;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#navbar-container{
  display: block;
  float: left;
  left: 50%;
  position: relative;
}

#navbar-container ul {
  float: left;
  display: block;
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  right: 50%;
} 

#navbar-container ul li {
  float: left;
  padding: 10px 20px;
}

#navbar-container ul li a {
  text-decoration: none;
  color: #fff;
}
#sidebar {
  position: fixed;
  background-color: red;
  right: 0%;
  height: 100%;
  width: 20%;
}

#sidebar-container {
  position: fixed;
  background-color: red;
  right: 0%;
  height: 100%;
  width: 20%;
}

